<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add autocamper</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <link rel="stylesheet" type="text/css" href="/css/modelTables.css">
    <link rel="stylesheet" type="text/css" href="/css/create.css">
</head>
<body>

<header>
    <img class="logo" src="/css/img/NordicMotorhomeLogo.png" height="70" width="170"/>
    <div class="container">

        <nav class="nav">
            <ul>
                <li><a href="/.">Home</a></li>
                <li><a href="/contract/contractIndex">Contract</a></li>
                <li><a href="/autocamper/autocamperIndex">Autocampers</a></li>
                <li><a href="/customer/customerIndex">Customers</a></li>
            </ul>
        </nav>
    </div>
</header>

<h1 class="pageTitle">Assign new autocamper</h1>

<div class="form-container">
    <form id=assign action="/autocamper/autocamperCreate" method="post">

        <label>*Brand</label>
        <input type="text" name="brand" placeholder="example: audi" required>
        <label>*Model</label>
        <input type="text" name="model" placeholder="example: 387A" required>
        <label>*In stock</label>
        <input type="text" name="isAvailable" placeholder="yes/no" required>
        <label>*Size</label>
        <input type="text" name="size" placeholder="example: 2Persons" required>
        <label>*Plate</label>
        <input type="text" name="numberplate" placeholder="example: HI739191" required>
        <label>*Price</label>
        <input type="text" name="priceperday" placeholder="(only numbers)" required>
        <input type="submit" value="Assign">
    </form>
</div>

</body>
</html>