<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Autocamper</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <link rel="stylesheet" type="text/css" href="/css/modelTablesIndex.css">



</head>
<body style="background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/newscms/2019_13/2798361/190325-rental-cars-cs-229p-2798361.jpg');">



<img class="logo" src="/css/NordicMotorhomeLogo.png" height="70" width="170"/>
<header>
    <div class="container">

        <nav class="nav">
            <ul>
                <li><a href="/.">Home</a></li>
                <li><a href="/contract/contractIndex">Contract</a></li>
                <li><a href="/autocamper/autocamperIndex">Autocampers</a></li>
                <li><a href="/customer/customerIndex">Customers</a></li>
                <li><a href="/loginIndex">Log in</a></li>
            </ul>
        </nav>
    </div>
</header>




<div class="normText">
    <h1 class="pageTitle">Autocamper list</h1>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>In Stock</th>
        <th>Size</th>
        <th>Plate</th>
        <th>
            <a href="/autocamper/autocamperCreate">
                <button class="btn" id="btn-Create">Assign new autocamper</button>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="autocamper: ${autocampers}">
        <td th:text="${autocamper.autocamperID}" />
        <td th:text="${autocamper.brand}" />
        <td th:text="${autocamper.model}" />
        <td th:text="${autocamper.isAvailable}" />
        <td th:text="${autocamper.size}" />
        <td th:text="${autocamper.numberplate}" />

        <td>
            <a th:href="@{'/autocamper/autocamperDetails/'+${autocamper.autocamperID}}">
                <button class="btn", id="btn-Details">Details</button>
            </a>
            <a th:href="@{'/autocamper/autocamperDelete/'+${autocamper.autocamperID}}">
                <button class="btn", id="btn-Delete">Delete</button>
            </a>
            <a th:href="@{'/autocamper/autocamperUpdate/'+${autocamper.autocamperID}}">
                <button class="btn", id="btn-Edit">Edit</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>