#topBar {
    height: 62px;
    width: 100%;
    background-color: #FCD299;

}
.topButton{
    float: right;
    width: auto;
    height: 41px;
    color: white;
    background-color: orange;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
}
.topButton:hover {
    background-color: darkorange;
    color: darkgrey;
}