body {
    margin: 0;
    font-family: 'work sans', sans-serif;
    font-weight: 400;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background-color: orange;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.logo {
    float: left;
    padding: 10px 0;
    visibility: visible;
}
.nav {
    float: right;
}
.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}
.nav form {
    float: right;
    width: auto;
    color: black;
    background-color: orange;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}
.nav form:hover {
    background-color: #ff9900;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
}