/*  Det her er css til toppen af siden*/

body {
    margin: 0;
    font-family: 'work sans', sans-serif;
    font-weight: 400;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background-color: orange;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.logo {
    float: left;
    padding: 10px 0;
    visibility: visible;
}
.nav {
    float: right;
}
.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;
}
.nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
.nav a:hover {
    background-color: #ff9900;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 48px;
    color: black;
}

/*   Her er css til bunden af siden       */

.buttom {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.buttom a {
    align-items: center;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.buttom a:hover {
    background-color: darkorange;
    color: black;
}