
table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
th{
    background-color: orange;
}
td, th{
    border: 1px solid black;
    text-align: left;
    padding: 4px;
}

tr:nth-child(even){
    background: #e7b25b;
}
tr:nth-child(odd){
    background: #ece9e3;
}

.btn{
    border: none;
    padding: 7px 10px;
    text-align: center;
}

.btn:hover{
    box-shadow: 2px 2px yellow;
    cursor: pointer;
}

#btn-Create{
    background-color: #a3d97c;
}
#btn-Create:hover{
    background-color: lightgray;
}
#btn-Details{
    background-color: #afe7e7;
}
#btn-Details:hover{
    background-color: lightgray;
}
#btn-Delete{
    background-color: #ea7474;
}
#btn-Delete:hover{
    background-color: lightgray;
}
#btn-Edit{
    background-color: #acefef;
}
#btn-Edit:hover{
    background-color: lightgray;
}
#btn-Customer{
    background-color: darkseagreen;
}
#btn-Customer:hover{
    background-color: lightgray;
}
.btn-Return {
    alignment: center;
    background-color: orange;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    margin: auto;
    padding: 10px;
 }
.btn-Return:hover{
    background-color: darkorange;
}