<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contract Details</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <link rel="stylesheet" type="text/css" href="/css/modelTablesIndex.css">
</head>
<body>
<header>
    <img class="logo" src="/css/img/NordicMotorhomeLogo.png" height="70" width="170"/>
    <div class="container">

        <nav class="nav">
            <ul>
                <li><a href="/.">Home</a></li>
                <li><a href="/contract/contractIndex">Contract</a></li>
                <li><a href="/autocamper/autocamperIndex">Autocampers</a></li>
                <li><a href="/customer/customerIndex">Customers</a></li>
            </ul>
        </nav>
    </div>
</header>
<h1 class="pageTitle">Details</h1>
<table style="border-collapse: collapse; width: 40%;">
    <thead>
    <tr style="background-color: lightblue;">
        <th>contractID</th>
        <th>autocamperID</th>
        <th>customerID</th>
        <th>Price</th>
        <th>Start Date</th>
        <th>Pickup Time</th>
        <th>Pickup Address</th>
        <th>Pickup Distance</th>
        <th>End Date</th>
        <th>Dropoff Time</th>
        <th>Dropoff Address</th>
        <th>Dropoff Distance</th>
        <th>rentaldetailsID</th>
        <th>extrasID</th>
        <th>Was cancelled</th>
        <th>Cancel Date</th>
        <th>contractFollowupID</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${contract.contractID}" />
        <td th:text="${contract.autocamperID}" />
        <td th:text="${contract.customerID}" />
        <td th:text="${contract.rentalPrice}" />
        <td th:text="${contract.rentalStartDate}" />
        <td th:text="${contract.pickupTime}" />
        <td th:text="${contract.pickupAddress}" />
        <td th:text="${contract.pickupDistance}" />
        <td th:text="${contract.rentalEndDate}" />
        <td th:text="${contract.dropoffTime}" />
        <td th:text="${contract.dropoffAddress}" />
        <td th:text="${contract.dropoffDistance}" />
        <td th:text="${contract.rentaldetailsID}" />
        <td th:text="${contract.extrasID}" />
        <td th:text="${contract.wasCancelled}" />
        <td th:text="${contract.cancelDate}" />
        <td th:text="${contract.contractFollowupID}" />
    </tr>
    </tbody>
</table>
<div id="returnBtnContainer">
    <a href="/contract/contractIndex">
        <button class="btnReturn", id="btn-return">Return</button>
    </a>
</div>




</body>
</html>