<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit contract</title>
    <link rel="stylesheet" type="text/css" href="/css/create.css">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">

</head>
<body>


<header>
    <img class="logo" src="/css/img/NordicMotorhomeLogo.png" height="70" width="170"/>
    <div class="container">

        <nav class="nav">
            <ul>
                <li><a href="/.">Home</a></li>
                <li><a href="/contract/contractIndex">Contract</a></li>
                <li><a href="/autocamper/autocamperIndex">Autocampers</a></li>
                <li><a href="/customer/customerIndex">Customers</a></li>
            </ul>
        </nav>
    </div>
</header>

<h1 class="pageTitle">Edit Contract</h1>

<div class="form-container">
    <form id=assign-contract action="/contract/contractUpdate" method="post">

        <label>ContractID</label>
        <input type="text" name="contractID" placeholder="contractID" th:value="${contract.contractID}" readonly required>

        <label>Edit autocamperID</label>
        <input type="text" name="autocamperID" placeholder="autocamperID" th:value="${contract.autocamperID}" required>

        <label>Edit customerID</label>
        <input type="text" name="customerID" placeholder="customerID" th:value="${contract.customerID}" required>

        <label>Edit Rental start date</label>
        <input type="date" name="rentalStartDate" placeholder="" th:value="${contract.rentalStartDate}"required>

        <label>Edit Rental pickup time</label>
        <input type="time" name="pickupTime" placeholder="" th:value="${contract.pickupTime}" required>

        <label>Edit Rental end date</label>
        <input type="date" name="rentalEndDate" placeholder="" th:value="${contract.rentalEndDate}" required>

        <label>Edit Rental dropoff time</label>
        <input type="time" name="dropoffTime" placeholder="" th:value="${contract.dropoffTime}" required>

        <label>Edit pickup address</label>
        <input type="text" name="pickupAddress" placeholder="" th:value="${contract.pickupAddress}" required>

        <label>Edit dropoff address</label>
        <input type="text" name="dropoffAddress" placeholder="" th:value="${contract.dropoffAddress}" required>

        <label>ExtrasID</label>
        <input type="text" name="extrasID" th:value="${extras.extrasID}" readonly>

        <label>Luxurypackage included</label>
        <input type="text" name="luxuryPackage" th:value="${extras.luxuryPackage}">

        <label>Sportpackage included</label>
        <input type="text" name="sportPackage" th:value="${extras.sportPackage}">

        <label>Familypackage included</label>
        <input type="text" name="familyPackage" th:value="${extras.familyPackage}">

        <label>Picknickpackage included</label>
        <input type="text" name="picknickPackage" th:value="${extras.picknickPackage}">

        <input type="submit" value="Assign">
    </form>
</div>
</body>
</html>