<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>contractCreate</title>
    <link rel="stylesheet" type="text/css" href="/css/create.css">

</head>
<body>
    <h1>Assign a new Contract</h1>

    <form id=assign-contract action="/contract/contractCreate" method="post">
        <label>Choose an available Autocamper</label>
        <select id="autocampers" name="autocampers" th:Object="${autocampers}">
            <option value="">Select autocamper from list</option>
            <option th:each="autocamper : ${autocampers}"
                    th:value="${autocamper.autocamperID}"
                    th:text="${autocamper.autocamperID} + ' : ' +
                             ${autocamper.brand} +
                             ${autocamper.model} +
                             ${autocamper.isAvailable} +
                             ${autocamper.size} +
                             ${autocamper.numberplate}"></option>
        </select>
        <label>Enter customerID</label>
        <input type="text" name="customerid" placeholder="customerid">
        <label>Enter Rental start date</label>
        <input type="datetime-local" name="rentalstartdate" placeholder="">
        <label>Enter Rental end date</label>
        <input type="datetime-local" name="rentalenddate" placeholder="">

        <input type="submit" value="Assign">
    </form>
</body>
</html>