<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contract</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <link rel="stylesheet" type="text/css" href="/css/modelTablesIndex.css">
</head>


<body style="background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/newscms/2019_13/2798361/190325-rental-cars-cs-229p-2798361.jpg');">

<img class="logo" src="/css/img/NordicMotorhomeLogo.png" height="70" width="170"/>
<header>
    <div class="container">

        <nav class="nav">
            <ul>
                <li><a href="/.">Home</a></li>
                <li><a href="/contract/contractIndex">Contract</a></li>
                <li><a href="/autocamper/autocamperIndex">Autocampers</a></li>
                <li><a href="/customer/customerIndex">Customers</a></li>
            </ul>
        </nav>
    </div>
</header>

    <div class="normText">
        <h1 class="pageTitle">Contract list</h1>
    </div>

    <table>
        <thead>
        <tr>
            <th>contract ID</th>
            <th>autocamper ID</th>
            <th>customer ID</th>
            <th>Price</th>
            <th>Pickup date</th>
            <th>Start time</th>
            <th>Dropoff date</th>
            <th>End time</th>
            <th>Contract follow up ID</th>

            <th>
                <a href="/contract/contractCreate">
                    <button class="btn" id="btn-Create">Assign new contract</button>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract: ${contracts}">
            <td th:text="${contract.contractID}" />
            <td th:text="${contract.autocamperID}" />
            <td th:text="${contract.customerID}" />
            <td th:text="${contract.rentalPrice}" />
            <td th:text="${contract.rentalStartDate}" />
            <td th:text="${contract.pickupTime}" />
            <td th:text="${contract.rentalEndDate}" />
            <td th:text="${contract.dropoffTime}" />
            <td th:text="${contract.contractFollowupID}" />

            <td>
                <a th:href="@{'/contract/contractDetails/'+${contract.contractID}}">
                    <button class="btn", id="btn-Details">Details</button>
                </a>
                <a th:href="@{'/contract/contractDelete/'+${contract.contractID}}">
                    <button class="btn", id="btn-Delete">Delete</button>
                </a>
                <a th:href="@{'/contract/contractUpdate/'+${contract.contractID}}">
                    <button class="btn", id="btn-Edit">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>