<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contract Details</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <link rel="stylesheet" type="text/css" href="/css/modelTablesIndex.css">
</head>
<body>
<header>
    <img class="logo" src="/css/img/NordicMotorhomeLogo.png" height="70" width="170"/>
    <div class="container">

        <nav class="nav">
            <ul>
                <li><a href="/.">Home</a></li>
                <li><a href="/contract/contractIndex">Contract</a></li>
                <li><a href="/autocamper/autocamperIndex">Autocampers</a></li>
                <li><a href="/customer/customerIndex">Customers</a></li>
            </ul>
        </nav>
    </div>
</header>
<h1 class="pageTitle">Details</h1>
<table style="border-collapse: collapse; width: 40%;">
    <thead>
    <tr style="background-color: lightblue;">
        <th>contract ID</th>
        <th>autocamper ID</th>
        <th>customer ID</th>
        <th>Price</th>
        <th>Start date</th>
        <th>Pickup time</th>
        <th>Pickup address</th>
        <th>Pickup distance</th>
        <th>End date</th>
        <th>Dropoff time</th>
        <th>Dropoff address</th>
        <th>Dropoff distance</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${contract.contractID}" />
        <td th:text="${contract.autocamperID}" />
        <td th:text="${contract.customerID}" />
        <td th:text="${contract.rentalPrice}" />
        <td th:text="${contract.rentalStartDate}" />
        <td th:text="${contract.pickupTime}" />
        <td th:text="${contract.pickupAddress}" />
        <td th:text="${contract.pickupDistance}" />
        <td th:text="${contract.rentalEndDate}" />
        <td th:text="${contract.dropoffTime}" />
        <td th:text="${contract.dropoffAddress}" />
        <td th:text="${contract.dropoffDistance}" />
    </tr>
    </tbody>
    <thead>
    <tr style="background-color: lightblue;">
        <th>Extras ID</th>
        <th>Rentaldetails ID</th>
        <th>Was cancelled</th>
        <th>Cancel date</th>
        <th>Contract followup ID</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${contract.extrasID}" />
        <td th:text="${contract.rentaldetailsID}" />
        <td th:text="${contract.wasCancelled}" />
        <td th:text="${contract.cancelDate}" />
        <td th:text="${contract.contractFollowupID}" />
    </tr>
    </tbody>
</table>
<div id="returnBtnContainer">
    <a href="/contract/contractIndex">
        <button id="btn-Return">Return</button>
    </a>
</div>
</body>
</html>