<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>contractCreate</title>
    <link rel="stylesheet" type="text/css" href="/css/create.css">
    <link rel="stylesheet" type="text/css"href="/css/modelTablesIndex.css">

</head>
<body>
    <h1>Assign a new Contract</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Size</th>
            <th>Plate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="autocamper: ${autocampers}">
            <td th:text="${autocamper.autocamperID}" />
            <td th:text="${autocamper.brand}" />
            <td th:text="${autocamper.model}" />
            <td th:text="${autocamper.size}" />
            <td th:text="${autocamper.numberplate}" />

        </tr>
        </tbody>
    </table>

    <form id=assign-contract action="/contract/contractCreate" method="post">

        <label>Choose an available Autocamper by inserting the autocampers ID </label>
        <input type="text" name="autcamperID" placeholder="autocamperID">

        <label>Enter customerID</label>
        <input type="text" name="customerID" placeholder="customerID">

        <label>Enter Rental start date</label>
        <input type="date" name="rentalStartDate" placeholder="">

        <label>Enter Rental pickup time</label>
        <input type="text" name="rentalPickupTime" placeholder="">

        <label>Enter Rental end date</label>
        <input type="date" name="rentalEndDate" placeholder="">

        <label>Enter Rental dropoff time</label>
        <input type="text" name="rentalDropoffTime" placeholder="">

        <input type="submit" value="Assign">
    </form>
</body>
</html>