<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit contract</title>
    <link rel="stylesheet" type="text/css" href="/css/create.css">
    <link rel="stylesheet" type="text/css" href="/css/modelTablesIndex.css">

</head>
<body>


<header>
    <img class="logo" src="/css/img/NordicMotorhomeLogo.png" height="70" width="170"/>
    <div class="container">

        <nav class="nav">
            <ul>
                <li><a href="/.">Home</a></li>
                <li><a href="/contract/contractIndex">Contract</a></li>
                <li><a href="/autocamper/autocamperIndex">Autocampers</a></li>
                <li><a href="/customer/customerIndex">Customers</a></li>
            </ul>
        </nav>
    </div>
</header>

<h1 class="pageTitle">Assign a new Contract</h1>

<div class="form-container">
    <form id=assign-contract action="/contract/contractUpdate" method="post">

        <label>ContractID</label>
        <input type="text" name="contractID" placeholder="contractID" th:value="${contract.contractID}" required>

        <label>Edit autocamperID</label>
        <input type="text" name="autocamperID" placeholder="autocamperID" th:value="${contract.autocamperID}" required>

        <label>Edit customerID</label>
        <input type="text" name="customerID" placeholder="customerID" th:value="${contract.customerID}" required>

        <label>Edit Rental start date</label>
        <input type="date" name="rentalStartDate" placeholder="" th:value="${contract.rentalStartDate}"required>

        <label>Edit Rental pickup time</label>
        <input type="time" name="pickupTime" placeholder="" th:value="${contract.pickupTime}" required>

        <label>Edit Rental end date</label>
        <input type="date" name="rentalEndDate" placeholder="" th:value="${contract.rentalEndDate}" required>

        <label>Edit Rental dropoff time</label>
        <input type="time" name="dropoffTime" placeholder="" th:value="${contract.dropoffTime}" required>

        <label>Edit pickup address</label>
        <input type="text" name="pickupAddress" placeholder="" th:value="${contract.pickupAddress}" required>

        <label>Edit dropoff address</label>
        <input type="text" name="dropoffAddress" placeholder="" th:value="${contract.dropoffAddress}" required>

        <div class="extras-container">
            <label>Choose the extras that the customer would like</label>
            <label>Bike rack</label>
            <input type="checkbox" name="bikerack" value="bikerack">
            <label>Bed Linen</label>
            <input type="checkbox" name="bedlinen" value="bedlinen">
            <label>Child seat</label>
            <input type="checkbox" name="childseat" value="childseat">
            <label>Picnic table and chairs</label>
            <input type="checkbox" name="picnicandtables" value="picnincandtables">
        </div>

        <input type="submit" value="Assign">
    </form>
</div>
</body>
</html>