<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer debt - index</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <link rel="stylesheet" type="text/css" href="/css/modelTablesIndex">
</head>
<body>

<header>
    <a href="/.">
        <img class="logo"  src="/css/img/NordicMotorhomeLogo.png" height="70" width="170"/>
    </a>

    <div class="container">

        <nav class="nav">
            <ul>
                <li><a href="/.">Home</a></li>
                <li><a href="/contract/contractIndex">Contract</a></li>
                <li><a href="/autocamper/autocamperIndex">Autocampers</a></li>
                <li><a href="/customer/customerIndex">Customers</a></li>
            </ul>
        </nav>
    </div>
</header>

<h1 class="pageTitle">Customer debt list</h1>


<table>
    <thead>
    <tr>
        <th>Customer debt ID</th>
        <th>Contract ID</th>
        <th>Contract followup ID</th>
        <th>Customer ID</th>
        <th>Autocamper ID</th>
        <th>Was cancelled:</th>
        <th>Total payment:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td th:text="${customerdebt.customerdebtID}">
        <td th:text="${contract.contractID}">
        <td th:text="${contract.contractfollowupID}">
        <td th:text="${contract.customerID}">
        <td th:text="${contract.autocamperID}">
        <td th:text="${customerdebt.wascancelled}">
        <td th:text="${customerdebt.totalpayment}">

        <td>
            <a th:href="@{'/customerdebt/customerdebtDetails/'+${customer.customerID}}">
                <button class="btn" id="btn-Details">Details</button>
            </a>
            <a th:href="@{'/customerdebt/customerdebtDelete/'+${customer.customerID}}">
                <button class="btn" id="btn-Delete">Delete</button>
            </a>
            <a th:href="@{'/customerdebt/customerdebtUpdate/'+${customerdebt.customerdebtID}}">
                <button class="btn" id="btn-Edit">Edit</button>
            </a>
            <a href="/customer/customerdebt/customerdebtCreate">
                <button class="btn" id="btn-Create">Assign new customer</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>