<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer debt - index</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <link rel="stylesheet" type="text/css" href="/css/modelTablesIndex">
</head>
<body>
<header>
    <a href="/.">
        <img class="logo"  src="/css/img/NordicMotorhomeLogo.png" height="70" width="170"/>
    </a>

    <div class="container">
        <nav class="nav">
            <ul>
                <li><a href="/.">Home</a></li>
                <li><a href="/contract/contractIndex">Contract</a></li>
                <li><a href="/autocamper/autocamperIndex">Autocampers</a></li>
                <li><a href="/customer/customerIndex">Customers</a></li>
            </ul>
        </nav>
    </div>
</header>

<h1 class="pageTitle">Customer debt list</h1>


<table>
    <thead>
    <tr>
        <th>Customer debt ID</th>
        <th>Contract ID</th>
        <th>Contract start date</th>
        <th>Contract end date</th>
        <th>Was the contract cancelled?</th>
        <th>The cancellation date</th>
        <th>Days since cancellation</th>
        <th>The debt</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${customerdebt.customerdebtID}">
        <td th:text="${contract.contractID}">
        <td th:text="${customerdebt.contractStartDate}">
        <td th:text="${customerdebt.contractEndDate}">
        <td th:text="${customerdebt.wasCancelled}">
        <td th:text="${customerdebt.cancellationDate}">
        <td th:text="${customerdebt.daysSinceCancellation}">
        <td th:text="${customerdebt.totalPrice}">

        <td>
            <a th:href="@{'/customerdebt/customerdebtDelete/'+${customerdebt.customerdebtID}}">
                <button class="btn" id="btn-Delete">Delete</button>
            </a>
            <a th:href="@{'/customerdebt/customerdebtUpdate/'+${customerdebt.customerdebtID}}">
                <button class="btn" id="btn-Edit">Edit</button>
            </a>
            <a href="/customer/customerdebt/customerdebtCreate">
                <button class="btn" id="btn-Create">Assign new customer</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>