<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>
<body style="background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/newscms/2019_13/2798361/190325-rental-cars-cs-229p-2798361.jpg');">
<header>
    <img class="logo" src="/css/img/NordicMotorhomeLogo.png" height="80" width="180"/>
    <div class="container">

        <nav class="nav">
            <ul>
                <li><a href="/.">Home</a></li>
                <li><a href="/contract/contractIndex">Contract</a></li>
                <li><a href="/autocamper/autocamperIndex">Autocampers</a></li>
                <li><a href="/customer/customerIndex">Customers</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="text">
    <h1 class="pageTitle">Nordic Motorhome rentalsite</h1>
    <div class="normText">
        Welcome to nordic motorhome rentalsite!<br>
        The official website of the most comfortable motorhomes in the entirety of [redacted].<br><br>
        Explore the beautiful countrysides of exotic countries from the comfort of your new, mobile home.<br>
        Our services provide a pickup service, so if you wish, you can pick it up as soon as you leave the plane<br>
        or get off of work for a wonderful roadtrip with your friends, family or your loved ones.<br>
        We can guarantee you'll have a trip you'll never forget!*<br>
        So what are you waiting for? Order now on our own webservice, and we'll get your vacation started <br>
        off right!<br><br><br><br>
        <div style="font-size: 5px">
            *Nordic Motorhomes adds extra fees for cancelled trips, see contracts page for further details
        </div>
    </div>
</div>
</body>
</html>