<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>
<body>
<a name="top"></a>
<img class="logo" src="/css/img/NordicMotorhomeLogo.png" height="80" width="180"/>
<header>
    <div class="container">

        <nav class="nav">
            <ul>
                <li><a href="/.">Home</a></li>
                <li><a href="/contract/contractIndex">Contract</a></li>
                <li><a href="/autocamper/autocamperIndex">Autocampers</a></li>
                <li><a href="/customer/customerIndex">Customers</a></li>
                <li><a href="/loginIndex">Log in</a></li>
            </ul>
        </nav>
    </div>
</header>
<div>
    <h1>Nordic Motorhome rentalsite</h1>
</div>
<div class="bottom">
    <ul>
        <li><a href="#top">Back to top</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</div>
</body>
</html>