<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Norcic Motorhome</title>
    <link rel="stylesheet" type="text/css" href="homepage.css">
</head>
<body>
<div class="topBar">
    <form action="/contract/contractIndex">
        <button value="Create Contract"></button>
    </form>
    <form action="/autocamper/autocamperIndex">
        <button value="View autocampers"></button>
    </form>
    <form action="/">
        <button value="See user information"></button>
    </form>
    <a href="/homecontroller/login">Log in</a>
</div>
    <img src="">
    <h1>Nordic Motorhome rentalsite</h1>
</body>
</html>