<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <link rel="stylesheet" type="text/css" href="/css/modelTablesIndex.css">
</head>

<body style="background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/newscms/2019_13/2798361/190325-rental-cars-cs-229p-2798361.jpg');">

<header>
    <a href="/.">
        <img class="logo"  src="/css/img/NordicMotorhomeLogo.png" height="70" width="170"/>
    </a>
    <div class="container">

        <nav class="nav">
            <ul>
                <li><a href="/.">Home</a></li>
                <li><a href="/contract/contractIndex">Contract</a></li>
                <li><a href="/autocamper/autocamperIndex">Autocampers</a></li>
                <li><a href="/customer/customerIndex">Customers</a></li>
            </ul>
        </nav>
    </div>
</header>





<h1 class="pageTitle">Customer list</h1>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Customer debt ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phonenumber</th>
        <th>Address</th>
        <th>Zipcode</th>

        <th>
            <a href="/customer/customerCreate">
                <button class="btn" id="btn-Create">Assign new customer</button>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.customerID}" />
        <td th:text="${customer.customerDebtListID}" />
        <td th:text="${customer.firstname}" />
        <td th:text="${customer.lastname}" />
        <td th:text="${customer.email}" />
        <td th:text="${customer.phonenumber}" />
        <td th:text="${customer.address}" />
        <td th:text="${customer.zipcode}" />


        <td>
            <a th:href="@{'/customer/customerDetails/'+${customer.customerID}}">
                <button class="btn" id="btn-Details">Details</button>
            </a>
            <a th:href="@{'/customer/customerDelete/'+${customer.customerID}}">
                <button class="btn" id="btn-Delete">Delete</button>
            </a>
            <a th:href="@{'/customer/customerUpdate/'+${customer.customerID}}">
                <button class="btn" id="btn-Edit">Edit</button>
            </a>
            <a th:href="@{'/customer/customerdebt/customerdebtIndex/'+${customer.customerID}}">
                <button class="btn" id="btn-Customer">Customer-debt</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>