<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/create.css">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>
<body>
<header>
    <img class="logo" src="/css/img/NordicMotorhomeLogo.png" height="70" width="170"/>
    <div class="container">

        <nav class="nav">
            <ul>
                <li><a href="/.">Home</a></li>
                <li><a href="/contract/contractIndex">Contract</a></li>
                <li><a href="/autocamper/autocamperIndex">Autocampers</a></li>
                <li><a href="/customer/customerIndex">Customers</a></li>
            </ul>
        </nav>
    </div>
</header>

<h1 class="pageTitle">Edit Customer</h1>

<div class="form-container">
    <form id=assign-customer action="/customer/customerUpdate" method="post">

        <label>CustomerID</label>
        <input type="text" name="customerID" value="customerID" th:value="${customer.customerID}" readonly required>

        <label>Edit firstname</label>
        <input type="text" name="firstname" value="firstname" th:value="${customer.firstname}" required>

        <label>Edit lastname</label>
        <input type="text" name="lastname" value="lastname" th:value="${customer.lastname}" required>

        <label>Edit email</label>
        <input type="text" name="email" value="email" th:value="${customer.email}" required>

        <label>Edit phonenumber</label>
        <input type="text" name="phonenumber" value="phonenumber" th:value="${customer.phonenumber}" required>

        <label>Edit address</label>
        <input type="text" name="address" value="address" th:value="${customer.address}" required>

        <label>Edit zipcode</label>
        <input type="text" name="zipcode" value="zipcode" th:value="${customer.zipcode}" required>

        <input type="submit" value="Assign">
    </form>
</div>
</body>
</html>